<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'Aquarium Care Center', main_app.root_path, :class => 'brand' %>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>

          <% if user_signed_in? %>
              <% if current_user.has_role? :admin %>
                  <li><%= link_to 'Admin', '/admin' %></li>
              <% end %>
              <li><%= link_to 'Store', '/store' %></li>
              <li><%= link_to 'Tank Tracker', '/tanktracker' %></li>

          <% end %>
          <li><%= link_to 'About', '/about' %></li>
          <li><%= link_to 'Contact', '/contact' %></li>
        </ul>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <li><%= link_to 'Logout', main_app.destroy_user_session_path, :method => 'delete' %></li>
          <% else %>
              <li><%= link_to 'Login', main_app.new_user_session_path %></li>
              <li><%= link_to 'Sign up', main_app.new_user_registration_path %></li>
          <% end %>
        </ul>

        <% if user_signed_in? %>
            <p class="navbar-text pull-right">
              Logged in as <a href="<%= main_app.edit_user_registration_path %>" class="navbar-link"><%= current_user.name %></a>
            </p>
        <% end %>
      </div>
    </div>
  </nav>
</div>